@page
@model Webshop.Pages.adminModel
@{
}

<h4>Admin</h4>

<p>
    <a href="Index">Back to home</a>
</p>

<ul>
    <li><a href="admin?viewType=customers">View customers</a></li>
    <li><a href="admin?viewType=transactions">View transactions</a></li>

</ul>


@{
    if (Model.viewType == "customers" && Model.customerList != null)
    {
        <p>Total customers: @Model.customerList.Count</p>

        <table border="1">

            @foreach (Models.Customer c in Model.customerList)
            {
                <tr>
                    <td>
                        @c.CustomerId
                    </td>
                    <td>
                        @c.Firstname
                    </td>
                    <td>
                        @c.Lastname
                    </td>
                </tr>
            }

        </table>

        <form>
            <label>Select customer: </label>
            <select>
                @foreach (Models.Customer c in Model.customerList)
                {
                    <option value="@c.CustomerId">@c.Firstname @c.Lastname</option>
                }
            </select>
        </form>
    }

    if (Model.viewType == "transactions" && Model.transactionList != null)
    {
        <form method="post">
            <label asp-for="invNumber">Enter invoice number:</label>
            <input type="number" asp-for="invNumber" min="0" />
            <input type="submit" value="Go" />
        </form>

        @if (Model.invNumber != null && Model.invoiceItemList.Count > 0)
        {
            <p>Invoice @Model.invNumber</p>

            <table border="1">
                <tr>
                    <th>Item</th>
                    <th>Sold Price</th>
                    <th>Current Price</th>
                </tr>

                @foreach (InvoiceItemWithPrice item in Model.invoiceItemList)
                {
                    <tr>
                        <td>@item.productCode</td>
                        <td>@item.priceSold</td>
                        <td>@item.priceCurrent</td>
                    </tr>
                }

                <tr>
                    <th>Total</th>
                    <th>@Model.invoiceTotal</th>
                </tr>
            </table>
        }
        else
        {
            <p>Invoice @Model.invNumber not found</p>
        }

        <br />
        <br />

        <table border="1">
            <tr>
                <th>Date</th>
                <th>Inv no.</th>
                <th>Customer</th>
                <th>Amount</th>
            </tr>

            @foreach (Models.Transaction t in Model.transactionList)
            {
                <tr>
                    <td>
                        @t.Date
                    </td>
                    <td>
                        @t.InvoiceNo
                    </td>
                    <td>
                        @t.Customer
                    </td>
                    <td>
                        @t.Amount
                    </td>
                </tr>
            }

        </table>
    }

}

