@page
@model Webshop.Pages.shoppingcartModel
@{
}

<h4>Shopping Cart</h4>

<p>
    <a href="Index">Back to shopping</a>
</p>

@{
    if (Model.cartItems == null || Model.cartItems.Count == 0)
    {
        <div>Cart is empty</div>
    }
    else
    {

        <table border="1">
            <tr>
                <th width="200">Item</th>
                <th width="80">Count</th>
                <th width="80">Unit price</th>
                <th width="80">Price</th>
            </tr>


            @foreach (ShoppingCartItem item in Model.cartItems)
            {
                <tr>
                    <td>
                        @item.product.Description
                    </td>
                    <td>
                        @item.count
                    </td>
                    <td>
                        @item.product.Price
                    </td>
                    <td>
                        @(item.product.Price * item.count)
                    </td>
                    <td>
                        <a href="shoppingcart?action=add&product=@item.product.ProductCode">Add</a> |
                        <a href="shoppingcart?action=remove&product=@item.product.ProductCode">Remove</a>
                        
                    </td>
                </tr>
            }

        </table>
        <br />

        <table>
            <tr>
                <th>Total: </th>
                <td>@Model.cartTotal</td>
            </tr>
        </table>

        <br />
        <br />
        <div>
                <a href="checkout">Checkout</a>
        </div>

    }

}